doctype html
head
  meta(charset='utf-8')
  title 404 - Page Not Found
  meta(name='viewport' content='width=device-width, initial-scale=1')


h1 Page Not Found
p= msg
a(href='/' title='Go back to homepage') Go back to homepage
